/* Widgets */

.cgui-widget {
	color-scheme: light;
}

/* Window */

.cgui-window {
	color-scheme: light;
	color: #000;
	border-radius: 0;
	backdrop-filter: none !important;
	border: 1px solid #eee;
	box-shadow: 0 0 24px 0 #0001;
}

.cgui-window>.cgui-window-header {
	background: #fff;
	padding: 6px;
	cursor: default;
}

.cgui-window>.cgui-window-content {
	background: #fff;
	border-top: 1px solid #eee;
}

.cgui-window.active {
	box-shadow: 0 0 24px 0 #0006;
	border-color: #888;
}

.cgui-window.active>.cgui-window-header {
	background: #fff;
	font-weight: normal;
}

.cgui-window.active>.cgui-window-content {
	background: #fff;
}

.cgui-window.cgui-dragging>.header {
	cursor: default !important;
}

.cgui-window-resize {
	color: #0007;
}

/* Button */

.cgui-btn {
	background: #eee;
	border: 1px solid #ddd;
	color: #000;
	padding: 6px;
	border-radius: 0;
	transition: .3s;
}

.cgui-btn:hover,
.cgui-btn:focus {
	background: #E6F2FF;
	border-color: #3b93ff;
}

.cgui-btn:active {
	background: #D2E7FF;
	transition: none;
}

/* Input */

.cgui-input {
	background: #fff;
	color: #000;
	padding: 6px;
	border-radius: 0;
	transition: .3s;
	border: 1px solid #ddd;
}

.cgui-input:focus {
	border-color: #888;
}

/* Switch */

.cgui-switch {
	height: 25.5px;
	width: 35.5px;
	box-sizing: content-box;
}

.cgui-switch-slider {
	background-color: #fff;
	border: 1px solid #ddd;
	transition: background-color 0.2s;
}

.cgui-switch-slider:hover,
.cgui-switch-slider:focus {
	border-color: #ccc;
}

.cgui-switch-slider::before {
	background-color: #ddd;
	transition: transform 0.2s;
}

.cgui-switch:hover>.cgui-switch-slider::before {
	background-color: #ccc;
}

.cgui-switch>input:checked+.cgui-switch-slider {
	background-color: #0058D6;
}

.cgui-switch>input:checked+.cgui-switch-slider::before {
	background-color: #fff;
	transform: translateX(10px);
}

.cgui-switch:hover>input:checked+.cgui-switch-slider::before {
	background-color: #eee;
}

/* Tree */

.cgui-tree {
	color-scheme: light;
	color: #000;
	border: 1px solid #ddd;
	background-color: #eee;
}

.cgui-tree>.cgui-tree-header {
	border-radius: 0;
	background-color: #fff;
}

.cgui-tree>.cgui-tree-header>.cgui-tree-title {
	font-weight: normal;
}

.cgui-tree>.cgui-tree-content {
	margin: 8px;
	border: 1px solid #ddd;
	background-color: #fff;
}

/* Popup Menu */

.cgui-popup-menu-wrapper {
	color-scheme: light;
	background-color: #0008;
}

.cgui-popup-menu {
	background-color: #fff;
	color: #000;
	max-width: 600px;
	border-radius: 0 !important;
}

.cgui-popup-menu-title {
	background: #fff;
	text-align: left;
}

.cgui-popup-menu-btn {
	transition: background-color 0s, transform 0.2s;
}

.cgui-popup-menu-btn:hover {
	background-color: #7773;
}

.cgui-popup-menu-btn:active {
	transform: scale(0.96);
	background-color: #7773 !important;
	color: #000 !important;
}

.cgui-popup-menu-btn:focus {
	background-color: #0058D6;
	color: #fff;
}