.cgui {
	-webkit-tap-highlight-color: transparent;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Widgets */

.cgui-widget {
	color-scheme: dark;
	margin-bottom: 8px !important;
	box-sizing: border-box;
}

/* Window */

.cgui-window {
	color-scheme: dark;
	position: absolute;
	color: #fff;
	padding: 0;
	margin: 0;
	border-radius: 8px;
	overflow: hidden;
	backdrop-filter: none;
	transition: box-shadow .2s;
	z-index: 99998;
	border: 1px solid #444;
}

.cgui-window-header {
	background: #111e;
	padding: 8px;
	margin: 0;
	appearance: button;
	-ms-appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;
	user-select: none;
	display: flex;
	outline: none;
	border: none;
	box-shadow: none;
	cursor: default;
	font-size: 0.9em;
	border-bottom: 1px solid #444;
}

.cgui-window-title {
	padding: 0;
	margin: 0;
}

.cgui-window-arrow {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-top: -2px;
}

.cgui-window-content {
	margin: 0;
	background: #000e;
	padding: 10px;
	overflow-y: auto;
	display: block;
	height: auto;
	overflow: auto;
}

.cgui-window-resize {
	width: 15px;
	height: 15px;
	color: #ffffff7a;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	cursor: nwse-resize;
	user-select: none;
}

.cgui-window.collapsed {
	height: auto !important;
}

.cgui-window.collapsed>.cgui-window-header {
	border-bottom: none;
}

.cgui-window.collapsed>.cgui-window-content {
	display: none;
}

.cgui-window.collapsed>.cgui-window-resize {
	display: none;
}

.cgui-window.active {
	z-index: 99999;
}

.cgui-window.active .cgui-window-title {
	font-weight: bold;
}

.cgui-window.cgui-dragging {
	box-shadow: 0 0 24px 0 #0008;
}

.cgui-window.cgui-dragging>.cgui-window-header {
	cursor: move !important;
}

.cgui-resizing {
	cursor: nwse-resize !important;
}

.cgui-window-content::-webkit-scrollbar {
	width: 10px;
}

.cgui-window-content::-webkit-scrollbar-track {
	background-color: transparent;
}

.cgui-window-content::-webkit-scrollbar-thumb {
	background-color: #555c;
	border-radius: 15px;
}

.cgui-window-content::-webkit-scrollbar-thumb:hover {
	background-color: #777c;
}

/* Button */

.cgui-btn {
	background: #333e;
	border: 1px solid #444;
	outline: none;
	color: #fff;
	padding: 10px;
	width: 100%;
	border-radius: 8px;
	display: block;
	transition: .1s;
	user-select: none;
	cursor: pointer;
}

.cgui-btn:hover {
	background: #444e;
	border-color: #555;
}

.cgui-btn:active {
	background: #555e;
	border-color: #666;
	transition: none;
}

/* Input */

.cgui-input-wrapper {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.cgui-input {
	background: #333e;
	outline: none;
	color: #fff;
	padding: 10px;
	width: 60%;
	border-radius: 8px;
	display: inline-block;
	transition: .1s;
	user-select: none;
	cursor: text;
	border: 1px solid #444;
	max-width: 100%;
	box-sizing: border-box;
}

.cgui-input:focus {
	transition: none;
	border-color: #555;
}

.cgui-input-label {
	display: inline-block;
	margin: 0;
	padding: 5px;
	margin-left: 10px;
}

/* Slider */

.cgui-slider-wrapper {
	display: flexbox;
	flex-direction: row;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.cgui-slider {
	background: #333e;
	outline: none;
	color: #fff;
	width: 60%;
	border-radius: 16px;
	transition: .1s;
	border: 1px solid #444;
	max-width: 100%;
	height: 32px;
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: left;
	padding: 0 4px;
	box-sizing: border-box;
}

.cgui-slider-thumb {
	background: #fffc;
	outline: none;
	width: auto;
	min-width: 32px;
	height: 24px;
	border-radius: 16px;
	display: inline-flex;
	transition: all .1s, margin-left 0s;
	border: none;
	margin-left: 0%;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 14px;
	padding: 0 4px;
	user-select: none;
}	

.cgui-slider-label {
	display: inline-block;
	margin: 0;
	padding: 5px;
	margin-left: 10px;
	margin-top: -10px;
}

/* Switch */

.cgui-switch {
	position: relative;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: left;
	cursor: pointer;
	height: 24px;
}

.cgui-switch input {
	display: none;
}

.cgui-switch-slider {
	width: 34px;
	height: 24px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333e;
	border-radius: 16px;
	transition: background-color 0.2s;
	margin-right: 8px;
	border: 1px solid #444;
}

.cgui-switch-slider::before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	top: 2px;
	background-color: #fffc;
	border-radius: 50%;
	transition: transform 0.2s;
}

.cgui-switch:hover>.cgui-switch-slider::before {
	background-color: #fff;
}

.cgui-switch>input:checked+.cgui-switch-slider {
	background-color: #fffc;
}

.cgui-switch>input:checked+.cgui-switch-slider::before {
	background-color: #333e;
	transform: translateX(10px);
}

.cgui-switch:hover>input:checked+.cgui-switch-slider::before {
	background-color: #333e;
}

/* Dropdown */

.cgui-dropdown-wrapper {
	display: flexbox;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.cgui-dropdown {
	background: #333e;
	outline: none;
	color: #fff;
	padding: 10px;
	width: 60%;
	border-radius: 8px;
	display: inline-block;
	transition: .1s;
	user-select: none;
	cursor: pointer;
	border: 1px solid #444;
	max-width: 100%;
	box-sizing: border-box;
}

.cgui-dropdown:focus {
	transition: none;
	border-color: #555;
}

.cgui-dropdown-label {
	display: inline-block;
	margin: 0;
	padding: 5px;
	margin-left: 10px;
}

/* Tree */

.cgui-tree {
	color-scheme: dark;
	color: #fff;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

.cgui-tree>.cgui-tree-header {
	background: #3338;
	padding: 4px;
	margin: 0;
	appearance: button;
	-ms-appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;
	user-select: none;
	display: flex;
	outline: none;
	border: 1px solid #444c;
	box-shadow: none;
	cursor: pointer;
	transition: background-color .3s;
	border-radius: 8px;
	font-size: 0.9em;
}

.cgui-tree>.cgui-tree-header>.cgui-tree-title {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

.cgui-tree>.cgui-tree-header>.cgui-tree-arrow {
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-top: -2px;
}

.cgui-tree>.cgui-tree-content {
	margin: 0;
	padding: 10px;
	margin-left: 5px;
	border-left: 1px solid #555;
}

.cgui-tree.collapsed>.cgui-tree-content {
	display: none;
}

.cgui-tree>.cgui-tree-header:hover {
	background-color: #fff2;
	transition: background-color .15s;
}

/* Row */

.cgui-row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
	grid-auto-flow: row;
	align-content: space-evenly;
	justify-content: space-evenly;
}

/* Popup Menu */

.cgui-popup-menu-wrapper {
	color-scheme: dark;
	background-color: #0008;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 999999;
	display: flex;
}

.cgui-popup-menu {
	background-color: #0008;
	color: #fff;
	width: 90vw;
	max-width: 600px;
	border-radius: 8px;
	margin: auto;
	padding: 0;
	overflow: clip;
	backdrop-filter: blur(3px);
}

.cgui-popup-menu-title {
	padding: 10px;
	margin: 0;
	font-weight: bold;
	font-size: 1.1em;
	background: #0006;
	text-align: center;
}

.cgui-popup-menu-content {
	padding: 0;
	margin: 0;
	overflow: auto;
	max-height: 60vh;
}

.cgui-popup-menu-btn {
	padding: 10px;
	margin: 5px;
	display: block;
	background: #555c;
	border: none;
	outline: none;
	font-size: 1em;
	user-select: none;
	transition: background-color .2s;
	cursor: pointer;
	border-radius: 5px;
	width: calc(100% - 10px);
}

.cgui-popup-menu-btn:hover {
	background-color: #777c;
}

.cgui-popup-menu-btn:active {
	background-color: #fffc;
	color: #000;
}

.cgui-popup-menu-content::-webkit-scrollbar {
	width: 10px;
}

.cgui-popup-menu-content::-webkit-scrollbar-track {
	background-color: transparent;
}

.cgui-popup-menu-content::-webkit-scrollbar-thumb {
	background-color: #555c;
	border-radius: 15px;
}

.cgui-popup-menu-content::-webkit-scrollbar-thumb:hover {
	background-color: #777c;
}

/* Animations */

.cgui-fadeout {
	transition: opacity 0.15s;
	opacity: 0;
}

@keyframes cgui-fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.cgui-fadein {
	animation: cgui-fadein .15s;
}